/* Reset default positioning values */
@import "reset.css";

/***layout***/

html, body {
  width: 100%;
  height: 100%;
  background-image: url('/gutter/images/background.jpg');
  background-position-x: 50%;
  background-repeat: no-repeat;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;

}

body p {
    padding: 5px;

}

#headerQuote {
  float: right;
  width: 50%;
  margin-right: 30px;
  line-height:  2em;
  font-size: 18px;  
  font-family: 'Shadows Into Light Two', cursive;
} 

.mostPopular {
  background-color: #6e8a93;
  float: right;
  width: 30%;
  margin-top: 25px;
  padding: 5px;
  height:  400px;
  opacity: 0.75;
  filter: alpha(opacity=50);
}   

.mostPopular p {
  margin-right: 20px;   
}

.mostPopular h1 {
  float: right;
}

#centerBucket {
    float: left;
    width: 75%;
    height: auto;
    margin:  60px 0px 0px 100px;
    position: relative;
    background-color: #6e8a93;
    padding: 20px;
}

/**navigation**/
div#nav {
  padding:  20px;
  width: 100%;
  float: right;
  background-color: #6e8a93;
  font-size: 16px;

}

div#nav a, a:link, a:visited {
  color: white;
  text-decoration: none;
  padding-left:  5%;
  float: right;
}

div#logo {
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    margin-left: 20px;
}

div#swoop {
    position: absolute;
    z-index: -50;
    left: 130px;
    top: 0;
    margin-top: 50px;

}

div#entriesBox {
    float: left;
    width: 50%;
    height: auto;
    margin:  60px 100px 0px 100px;
    position: relative;
    
}

.entries {
    height: 110px;
}

.entriesImage {
    margin: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: gray;
      opacity: 0.75;
      filter: alpha(opacity=90);
}


div#navFooter {
  margin-top:  2%;
  padding: 10px;
  width: 100%;
  float: right;
  background-color: #6e8a93;
  font-size: 12px;
  opacity: 0.75;
  filter: alpha(opacity=50);
}

div#navFooter a, a:link, a:visited {
  color: white;
  text-decoration: none;
  padding-left:  5%;
  float: right;
}


/***links***/
a, a:link, a:visited {
  color: blue;
  text-decoration: none;
  float: right;
  padding: 0px 5px 0px 0px;
}

a:hover, a:focus, a:active {
  color: black;
}


/***elements***/

img {
  border: none; 
  padding: 5px;
  margin-right: 6px; 
}

strong {
  font-weight:bold;
}


h1 {
  font-size: 18px;
  margin: 10px 10px 10px 0px;
  color: white;
}

h2 {
  font-size: 16px;
  color: black;
  margin: 10px 10px 0px 0px;
  padding: 10px 0px 0px 0px;
}

h3 {
  font-size: 14px;
  line-height: 0px;
  padding-top: 10px;
  color: #b12c16;
  margin: 10px 10px 10px 0px;
}

td {
  padding-right: 20px;
}
/***classes***/

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

em {
  font-style: italic;
}

.hr {
float: left;
display: inline;
width: 100%;
height: 6px;
font-size: 1px;
line-height: 1px;
border: dotted 1px;

}
/*.list {
  
}
*/
/***callout***/
/***table***/
.black {color: black;}

table tr th {
  text-align: right;
  width: 100px;
  height: auto;
  font-weight: normal;
  padding: 12px 5px 5px 0px;
  vertical-align: top;
  line-height: 16px;
  font-size: 14px;
  color: #b12c16;
  font-weight: bolder;
}

table tr td {
  height: auto;
  padding: 5px 5px 5px 0px;
  vertical-align: top;
  line-height: 16px;
}
