/* Reset default positioning values */
@import "reset-dan.css";

/***layout***/

html {
  width: 100%;
  height: 100%;
  
}

body {
  height: auto;
  width: 100%;
  line-height: 20px;
  background-image: url(/dan/images/connect.png);

}

body p {
  padding: 5px;
  font-size: 14px;
  color: black;
  margin-left: 15px;

}

body a {
   color: gray;
}

body a:hover {
    color: black;
}

#nav {
  width: 100%;
  height: 20px;
  background-color: black;
  padding: 10px 0 10px 0;

}


#navInner {
  margin-left: 20px;
}

#navInnerRight {
  margin-left: 300px;
}

#nav a {
  margin-right: 20px;
  text-decoration: none;
  float: left;
  font-size: 20px;
  font-family: 'Just Me Again Down Here', cursive;
  color: gray;
}

#nav a:hover {
  color: white;
}

#nav img{
    z-index: 50;
        position: absolute;
        top: 5px;
}


    
#wrapper {
    width: 75%;
    position: block;    

}

#innerWrapper {
    margin: 20px;
    width: 900px;

}

#slogan {
    margin: 20px 0px 0px 20px;
}

#innerWrapper .homeImages img{
    padding: 5px;
    border: dotted 1px;
    border-color: black
}

.blackBack {
    background-color: black;
}


#footer {
  width: 75%;
  margin-left: 20px;

}

#footer a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Just Me Again Down Here', cursive;
  color: gray;
  
}

h1 {
    font-size: 30px;
    padding-bottom: 5px;
    font-family: 'Just Me Again Down Here', cursive;
        padding-left: 15px;
}

h2 {
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Just Me Again Down Here', cursive;


}

.list {
  padding-left: 40px;
}

ul li {
  padding: 5px;
  font-size: 14px;
  color: green;
  list-style-type: circle;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

em {
  font-style: italic;
}

.white {
    color: white;
}

div.dogBackground {
    position: absolute;
    z-index: 50;
    left: 75%;
    display: block;
    float: right;

    
}

strong {
  font-weight: bold;
}
