/* Reset default positioning values */
@import "reset.css";

/***layout***/

html {
  width: 100%;
  height: 100%;
  
}

body {
  height: auto;
  width: 100%;
  line-height: 20px;
  background-image: url(/dan/images/connect.png);
}

body p {
  padding: 5px;
  font-size: 14px;
  color: black;

}

#nav {
  width: 100%;
  height: 20px;
  background-color: orange;
  padding: 10px 0 10px 0;

}


#navInner {
  margin-left: 175px;
}

#navInnerRight {
  margin-right: 200px;
}

#nav a {
  margin-right: 20px;
  text-decoration: none;
  float: left;
  font-size: 20px;
  font-family: 'Just Me Again Down Here', cursive;
  color: gray;
}

#wrapper {
    width: 75%;
    position: block;    
    margin-left: 150px;
}

#innerWrapper {
    margin: 20px;
    width: 260px;
}

#slogan {
    margin: 20px 0px 0px 20px;
}

#innerWrapper .homeImages img{
    padding: 5px;
    border: dotted 1px;
    border-color: black


}


#footer {
  width: 75%;
  margin-left: 185px;
}

#footer a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Just Me Again Down Here', cursive;
  color: gray;
  
}

h1 {
    font-size: 30px;
    padding-bottom: 5px;
    font-family: 'Just Me Again Down Here', cursive;
}

h2 {
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Just Me Again Down Here', cursive;

}

.list {
  padding-left: 40px;
}

ul li {
  padding: 5px;
  font-size: 14px;
  color: green;
  list-style-type: circle;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}


